@import "../../colors.scss";

.yearview-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  padding: 16px;
  overflow: auto;

    &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray;
    border-radius: 4px;

    &:hover {
      background-color: $gray;
    }
  }

  .month {
    border: 1px solid $gray;
    padding: 8px;
    background: $white;
    border-radius: 12px;

    h4 {
      margin-bottom: 8px;
      text-align: center;
    }

    .month-grid {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      gap: 2px;

      .day-cell {
        background: $light-gray;
        padding: 4px;
        font-size: 12px;
        min-height: 40px;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid $border-gray;
        position: relative;

        .date-number {
          font-weight: bold;
          font-size: 13px;
        }

        &.has-event {
          background-color: $event-blue;
        }

        &.has-multiple {
          background-color: $event-red;
        }
      }
    }
  }
}
