@import '../../colors.scss';

.nested-modal {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  min-width: 250px;
  max-width: 320px;

  .nested-modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $gray;
    padding: 5px 10px;
  
    .nested-modal-close-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      border: none;
      cursor: pointer;
      background: $primary-blue;
      font-size: 20px;
      border-radius: 50%;
      margin-bottom: 10px;
      color: $white
    }
  }

  .nested-modal-content {
    .nested-event-card {
      border-left: 10px solid #007bff;
      padding: 8px 12px;
      margin-bottom: 10px;
      position: relative;
      margin: 10px 0;
      border-bottom: 1px solid $gray;
      cursor: pointer;
      
      &:last-child {
        border-bottom: none;
      }

    }
  }
}

.event-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .event-title {
      font-size: 10px;
  }
  .event-actions {
    display: flex;
    justify-content: flex-end;
  }
}

.nested-btn {
  img {
    width: 15px;
    height: 15px;
  }
}

.event-meta {
  font-size: 12px;
  color: #333;
  margin-bottom: 6px;
  line-height: 1.4;

  .event-meta-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .event-interviewer, .event-date, .event-time {
    font-size: 11px;
  }
}

.edit-btn, .delete-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
}


.nested-modal--mobile {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 320px;
  z-index: 1000;
  padding: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}