// colors.scss

$primary-blue: #007bff;
$white: #ffffff;
$black: #000000;
$gray: #cccccc;

$light-gray: #f9f9f9;
$border-gray: #eeeeee;

$event-blue: #c9e6ff;
$event-red: #ffa9a9;

$badge-yellow: #fdbf2d;
$light-border: #dddddd;
$shadow: rgba(0, 0, 0, 0.1);
$popup-overlay: rgba(255, 255, 255, 0.8);
